* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.521);
}

li,a,button {
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 15%;
}

.logo {
    cursor: pointer;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 28px;
}

.navbar li a {
    color: white;
    font-weight: 600;
}

.navbar li a:hover {
    color: aquamarine;
}

.navbar li {
    background: transparent;
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px;
    margin: 25px;
}

.navbar li:hover {
    transform: translateY(7px);
    transition: all .5s ease-in-out;
}
